
<div class="container">

    <h3><b>{{titulo}}</b></h3>
        <hr>
            <div class="card mt-3">
                <div class="card-header">
                Nombre del Alumno:
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Maximiliano Neira.</p>
                </blockquote>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    Carrera que está cursando:
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Técnico Superior en Desarrollo de Softwares.</p>
                </blockquote>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    Año de cursado:
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>2023.</p>
                </blockquote>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    Carrera que está cursando:
                </div>
                <div class="card-body mt-3">
                <blockquote class="blockquote mb-0">
                    <p>Técnico Superior en Desarrollo de Softwares.</p>
                </blockquote>
                </div>
            </div>

            <div class="card mt-3 mb-3">
                <div class="card-header">
                    Página de Git:
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p><a href="https://github.com/desarrolladorMaxi/">GitHub</a></p>
                    <footer class="blockquote-footer"> <cite title="Source Title">Maxi</cite></footer>
                </blockquote>
                </div>
            </div>
        <hr>  
        <br>
</div>