<hr>
<div class="container mt-4 mb-4">

    <h3>Subir archivos a GitHub</h3>
    <p>Te posicionas en la carpeta que creaste para alojar
        tu página.
    </p>
    
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">git init</li>
        <li class="list-group-item">prepara el repositorio para ser subido</li>
    </ul>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">git .\nombre.html\</li>
        <li class="list-group-item">si es un solo archivo a subir</li>
    </ul>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">git add .</li>
        <li class="list-group-item">si vas a subir todos los archivos</li>
    </ul>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">git commit -m "primer commit"</li>
        <li class="list-group-item">breve descripcion de la mejora </li>
    </ul>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">git branch -M main</li>
        <li class="list-group-item">subis la rama</li>
    </ul>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">git remote(...)</li>
        <li class="list-group-item">pones la dirección dónde lo vas a subir</li>
    </ul>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">git push -U origin main</li>
        <li class="list-group-item">lo subis</li>
    </ul>

<div>