<div class="container mt-5 mb-5">

    <div class="card">
        <div class="card-header">
          <h3><strong> ¿Como instalar Ángular?</strong></h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><strong>Ángular es un framework de JavaScript, también se usa con TypeScript.</strong></p>
            <ol>
                <li> <strong> Node.js</strong> </li>
                <p>Se descarga la verión LTS que tiene un soporte
                    a largo plazo desde:
                </p>
                <a href="https://nodejs.org/es">Sitio Oficial</a>
                <hr>
                <li><strong> Atención:</strong></li>
                <p>Ángular se instala por consola!</p>
                <hr>
                <li><strong> Instalación:</strong></li>
                <p>Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy RemoteSigned</p>
                <p>se coloca esto por si hay problemas con el power shell</p>
                <code>npm install -g @angular/cli</code>
                <hr>
                <li><strong> Verificamos</strong></li>
                <code>npm -v</code>
            </ol>
          </blockquote>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h3><strong>¿Como crear componentes?</strong></h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><strong> En la terminal de visual Studio podemos agregar los componentes de la siguiente manera.
            </strong></p>
            <ul>
                <code>ng g c componentes/navbar</code>
                <p>Crea una carpeta llamda componentes y dentro de ella se encuentra el componente navbar
                </p>
            </ul>
          </blockquote>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h3><strong>¡Comandos básicos que se usan en ángular!</strong></h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <ul>
                <li><code>ng new nombreProyecto</code></li>
                <li><code>ng version</code></li>
                <li><code>ng s --0</code></li>
                <li><code>ng g c nombreCarpeta/componente</code></li>
            </ul>
          </blockquote>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h3><strong>¿Como crear componentes?</strong></h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><strong>En la terminal de visual Studio podemos agregar los componentes de la siguiente manera.
            </strong></p>
            <ul>
                <li><code>ng g c componentes/navbar</code></li>
                <p>Crea una carpeta llamda componentes y dentro de ella se encuentra el componente navbar
                </p>
            </ul>
          </blockquote>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h3><strong>¿Que es Ángular?</strong></h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
                Angular es un framework de ingeniería de software
                de código abierto mantenido por Google, que sirve
                para desarrollar aplicaciones web de estilo Single
                Page Application (SPA) y Progressive Web App (PWA).
                Sirve tanto para versiones móviles como de escritorio. 
            </p>
          </blockquote>
        </div>
      </div>

</div>
