<div class="container">

    <div class="card">
        <div class="card-header">
          <h3>¿Como instalar Ángular?</h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <h4>Ángular es un framework de JavaScript, también se usa con TypeScript.
            </h4>
            <ol>
                <li>Node.js</li>
                <p>Se descarga la verión LTS que tiene un soporte
                    a largo plazo desde:
                </p>
                <a href="https://nodejs.org/es">Sitio Oficial</a>
                <li>Atención:</li>
                <p>Ángular se instala por consola!</p>

                <li>Instalación:</li>
                <p>Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy RemoteSigned</p>
                <p>se coloca esto por si hay problemas con el power shell</p>
                <p>npm install -g @angular/cli</p>

                <li>Verificamos</li>
                <p>npm -v</p>
            </ol>
          </blockquote>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h3>¿Como crear componentes?</h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <h4>En la terminal de visual Studio podemos agregar los componentes de la siguiente manera.
            </h4>
            <ul>
                <li>ng g c componentes/navbar</li>
                <p>crea una carpeta llamda componentes y dentro de ella se encuentra el componente navbar
                </p>
            </ul>
          </blockquote>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h3>¡Comandos básicos que se usan en ángular!</h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <ul>
                <li>ng new nombreProyecto</li>
                <li>ng version</li>
                <li>ng s --0</li>
                <li>ng g c nombreCarpeta/componente</li>
            </ul>
          </blockquote>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h3>¿Como crear componentes?</h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <h4>En la terminal de visual Studio podemos agregar los componentes de la siguiente manera.
            </h4>
            <ul>
                <li>ng g c componentes/navbar</li>
                <p>crea una carpeta llamda componentes y dentro de ella se encuentra el componente navbar
                </p>
            </ul>
          </blockquote>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h3>¿Que es Ángular?</h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
                Angular es un framework de ingeniería de software
                de código abierto mantenido por Google, que sirve
                para desarrollar aplicaciones web de estilo Single
                Page Application (SPA) y Progressive Web App (PWA).
                 Sirve tanto para versiones móviles como de escritorio. 
            </p>
          </blockquote>
        </div>
      </div>

</div>
