<div class="container mt-3 mb-3">
    <h3 class="text-center"><strong>Moverse en el directioro por consola.</strong></h3>
    
    <br>

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Acceder a un Directorio
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                Aquí colocas en nombre del directorio a la cual queres entrar <code> cd .Facultad</code>, luego apretas Enter y listo accediste al direcctorio.
                Un ejemplo: si queres entrar al escritorio es <code>cd .Desktop</code> <br>
                <strong>!Atención¡</strong> Despues de cd lleva un espacio antes del punto
                </div>
            </div>
            </div>


            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Retroceder un Directorio
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                Al colocar <code>cd..</code> sin importar en que directorio te encuentres lo que hara es retroceder un directorio.
                </div>
            </div>
            </div>


            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Listar los Directorios y Archivos
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                Al igual que el anterior se coloca <code>ls</code> en cualquier parte del directorio que te encuntres y lo que hará es mostrarte los archivos y directorios que hayan dontro del que estes posicionado
                en ese momento.
                </div>
            </div>
            </div>

            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Limpio Consola
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                    <code>cls</code> este comando lo que hará es limpiar la consola de esta manera borrara todo lo que haya escrito en la misma.
                    </div>
                </div>
                </div>

            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               Crear un Directorio
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                    <code>MKDIR</code> este comando lo que hará es crear una carpeta o directorio como quieras llamarle.
                    </div>
                </div>
                </div>
                    
            
        </div>
</div>

<p> <strong> Nota:</strong> Los nombres de las carpetas no pueden tener espacios.</p>